.toast {
  z-index: 10;
  display: none;
  white-space: nowrap;
  position: fixed;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 5px 15px;
  font-size: 0.9rem;
  background: #06070d;
  color: #fefffe;
  border-radius: 3px;
  opacity: 0;
  -webkit-animation: toastFX 3s ease;
  animation: toastFX 3s ease;
}

@-webkit-keyframes toastFX {
  0% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes toastFX {
  0% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.app-overlay {
  display: none;
  z-index: 20;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(6, 7, 13, 0.7);
}
