.App {
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#splash-screen {
  z-index: 150;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f6f6f4;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

#splash-screen img {
  height: 40px;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
  position: relative;
}

#app-drawer-overlay {
  z-index: 25;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(6, 7, 13, 0.7);
}

#app-drawer-overlay.active {
  display: block;
}

/* Desktop */

@media (min-width: 768px) {
  #app-drawer-overlay.active {
    display: none;
  }
}
