.NotFound {
  height: calc(100vh - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.NotFound h1 {
  font-size: 5rem;
  color: #666769;
}

.NotFound p {
  font-size: 0.9rem;
}

.NotFound a {
  text-decoration: underline;
  color: #6f6ebb;
  font-weight: 500;
}

@media (max-width: 768px) {
  .NotFound h1 {
    font-size: 3.5rem;
  }
  .NotFound p {
    font-size: 0.8rem;
  }
}
